$width: 400px;
$width-col: 62px;

$white-0: #f3f3f3;
$white-1: #e6e6e6;
$white-2: #a0a0a0;

$black-0: #000000;
$black-1: #151515;
$black-2: #2e2e2e;

$font-color: $white-0;

$red: #ee0136;

$border-s: 5px;
$border-m: 8px;

$gap-s: 9px;

$pad-s: 7px;

