$width: 400px;
$width-col: 62px;

$white-0: #f3f3f3;
$white-1: #e6e6e6;

$black-1: #3a3a3a;
$black-0: #000000;

$blue: #076689;
$red: #ee0136;

$background-color-1: #3a3430;
$background-color-2: #524343;

$color-menu: #d3d3d3;

$color-button: #1f1f1f;

$border-s: 2px;
$gap-s: 9px;
$pad-s: 7px;