#menu-list {
  li.row {
    display: flex;
  }
  li.row {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    p,
    span {
      text-transform: uppercase;
      text-align: center;
    }
    h6 {
      text-transform: uppercase;
      /* font-weight: 600; */
      color: var(--blue);
    }
    h6,
    p {
      /* font-family: 'Josefin Sans Variable'; */
      font-family: 'Futura';
      font-weight: 600;
    }
  }
}
