#item-card {
  
  background-color: $black-2;
  border-radius: $border-s;
  box-shadow: 0px 1px 3px 0px black;
  border: 0.5px solid $white-2;
  h3{
    font-family: 'Josefin Sans Variable';
  }
  *{
    // border: 1px solid $white-2;
  }
  .card-item{

  }
  .card-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  div.prices-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    div{
      width: 50%;
    }
  }
}