.MuiPaper-root.MuiPaper-elevation {
  border-radius: $border-m !important;
  background-color: $black-2 !important;
}

.filter-accordion {
  color: $font-color !important;
  border-radius: $border-s !important;
}

.PrivateSwitchBase-input.css-1m9pwf3 {
  color: $font-color !important;
}

.Mui-checked {
  color: $font-color !important;
}