* {
  /* border: 0.5px solid white; */
}
div#root{
  /* background-color: red; */
  padding: 1rem;
  position: relative;
}
h2{
  font-family: 'Josefin Sans Variable', sans-serif;
}

label {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 13px;
}

span {
  color: #ee0136
}
p {
  color: var(--blue)
}