:root {
  background-color: black;
  --white-0: #f3f3f3;
  --white-1: #e6e6e6;
  --black-1: #3a3a3a;
  --black-0: #000000;
  --blue: #076689;
  --red: #ee0136;

  --border-s: 2px;
  --border-m: 4px;
  --border-l: 10px;

  --gap-s: 8px;
  --gap-m: 10px;
  --gap-l: 15px;

  --pad-s: 0.8rem;
  --pad-m: 1rem;
  --pad-l: 1.2rem;
}
div#root{
  padding: 2rem 1rem;
  position: relative;
}
h2{
  font-family: 'Antique Cherry', sans-serif;
}
h3 {
  font-family: 'Josefin Sans Variable';
  font-weight: 600;
}
span {
  /* color: var(--red) */
}
.glacial {
  font-family: 'Glacial Indifference';
}
.josefin {
  font-family: 'Josefin Sans Variable';
  font-weight: 600;
}
.futura {
  font-family: 'Futura';
}
#input {
  color: blue !important
}
#checkboxs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main {
  min-height: 30vh;
}
button {
  border: 1px solid ;
  border-radius: var(--border-s);
  padding: 4px 14px !important;
}