:root {
  background: $black-1;
  color: $font-color;
}
@mixin gradient-text {
  background: linear-gradient(45deg, #e1c006, #ff0707);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin shadow {
  filter: drop-shadow(2px 2px 2px #06060680);
}
html,
body {
  min-height: max-content;
  min-height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#root { 
  border: 0px solid transparent !important;
  min-height: 100vh;
  padding: 1rem $pad-s;
  width: 100%;
  max-width: $width;
  position: relative;
}
main {
  min-height: 70vh;
}
// 
/* TITULOS DE PAGINAS */
h2.page-title {
  font-family: 'Antique Cherry', sans-serif;
  font-size: 2.7rem;
  text-align: center;
  max-width: max-content;
  @include gradient-text;
  @include shadow;
}
// BUTTONS TITLES
h3 {
  font-family: 'Josefin Sans Variable';
  font-weight: 600;
  max-width: max-content;
  font-size: 1rem;
  text-transform: uppercase;
  @include shadow;
}
h3.special-title {
  @include gradient-text;
}
// ITEMS TITLES
h4 {
  @include shadow;
  font-family: 'Futura';
  text-transform: uppercase;
  font-size: 0.85
  rem ;
}

#hector-guerra {
  font-family: 'Black Crow Extra Light';
  text-transform: uppercase;
  // letter-spacing: 0.05rem !important;
  font-size: 0.8rem;
}

