:root {
  background: $black-1;
  color: $font-color;
}
html,
body {
  min-height: max-content;
  min-height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

div#root { 
  border: 0px solid transparent !important;
  min-height: 100vh;
  padding: 1rem $pad-s;
  width: 100%;
  max-width: $width;
  position: relative;

}
main {
  min-height: 70vh;
}
// 
// 
/* "Nuestra Carta" */
h2 {
  font-family: 'Antique Cherry', sans-serif;
}
h3 {
  font-family: 'Josefin Sans Variable';
  font-weight: 600;
}
/* 'Open Sans Variable' */
.josefin {
  font-family: 'Josefin Sans Variable';
  font-weight: 600;
}
.futura {
  font-family: 'Futura';
}



.shadoww {
  filter: drop-shadow(2px 2px 2px #06060680);
}