:root {
  --white-0: #f3f3f3;
  --white-1: #e6e6e6;
  --black-1: #3a3a3a;
  --black-0: #000000;
  --blue: #076689;
  --red: #ee0136;

  --border-s: 4px;
  --border-m: 8px;
  --border-l: 20px;

  --gap-s: 8px;
  --gap-m: 10px;
  --gap-l: 15px;

  --pad-s: 0.8rem;
  --pad-m: 1rem;
  --pad-l: 1.2rem;
}

div#root{
  padding: 1rem;
  position: relative;
}
h2{
  font-family: 'Antique Cherry', sans-serif;
}
h3 {
  font-family: 'Glacial Indifference';
}
p {
  color: var(--blue);
  /* font-family: 'Futura'; */
}
span {
  /* color: var(--red) */
}

#input {
  color: blue !important
}
#inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  span {

  }
}