:root {
  background: linear-gradient(to bottom, #fcafaf, #efdd79);
  --width: 500px;
  --width-col: 62px;
  
  --white-0: #f3f3f3;
  --white-1: #e6e6e6;
  --black-1: #3a3a3a;
  --black-0: #000000;
  --blue: #076689;
  --red: #ee0136;
  --color-menu: #e1e1e198;

  --border-s: 2px;


  --gap-s: 9px;


  --pad-s: 7px;
}
#root { 
  border: 0px solid transparent !important;
  min-height: 100vh;
  padding: 2rem var(--pad-s);
  width: 100%;
  max-width: var(--width);
}
html,
body {
  /* kusa uno u otro dependiendo del contexto */
  min-height: max-content;
  min-height: 100%;
}
/* "Nuestra Carta" */
h2{
  font-family: 'Antique Cherry', sans-serif;
}
h3 {
  font-family: 'Josefin Sans Variable';
  font-weight: 600;
}
/* 'Open Sans Variable' */
.josefin {
  font-family: 'Josefin Sans Variable';
  font-weight: 600;
}
.futura {
  font-family: 'Futura';
}
#input {
  color: blue !important
}
#checkboxs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  span {
    font-family: 
    'Futura';
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 600;
  }
}
main {
  min-height: 45vh;
}
/* button {
  border-radius: var(--border-s);
  padding: 4px 14px !important;
  background-color: var(--black-1) !important;
  color: var(--white-0) !important;
  padding: 5px 10px 2px !important;
} */
.blue {
  color: var(--blue);
}
.red {
  color: var(--red);
}