header#layout {
  display: flex;
  justify-content: center;

  h2 {
    // color: $red;
    font-size: 3rem;
    text-align: center;
    max-width: max-content;
    background: linear-gradient(45deg, #e1c006, #ff0707);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

main.menu-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  margin: 1rem 0;
}