header#layout {
  h2 {
    color: $color-menu;
    font-size: 3rem;
    text-align: center;
  }
}

main.menu-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  margin: 1rem 0;
}