header.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  gap: 0.5rem;
  figure {
    width: 100%;
    max-width: 110px;
  }
  p {
    color: $white-0;
  }
}

main.home-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-start;
}

section.home-page.main-buttons {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding: 5px;
  flex-direction: column;
}
hr {
  border: 0.5px solid $white-2;
}


footer.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-top: auto;
  .social-links-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    a.profile-link-component {
      display: flex;
      align-items: center;
      color: $white-0;
      text-decoration: none;
      gap: 10px;
      .icons {
        width: 25px;
        height: 25px;
        fill: $white-0;
      }
    }
  }
  .credits-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-size: 0.8rem;
    }
    a{
      color: $white-0;
    }
  }
}

section.special-items-section {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  header.lo-mejor-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: max-content;
    .icons {
      width: 22px;
      height: 100%;
      stroke: $white-0;
      margin-bottom: 8px;
    }
  }
  div.special-items-container {
    display: flex;
    width: 100%;
  }
}

