nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;  
  gap: 1rem;
  margin-block: 1rem;
  div {
    display: flex;
    gap: 1rem;
  }
  button {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 5px 10px 2px !important;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Josefin Sans Variable', sans-serif;
    text-transform: uppercase;
    justify-content: center;
    background-color: var(--black-1);
    color: white;
  }
}



.section-menu {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  h3 {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  li.row {
    display: flex;
  }
  li.row {
    display: grid;
    grid-template-columns: minmax(30px, 400px) var(--width-col) var(--width-col);
    border-bottom: 1px solid var(--black-1);

    h6, p {
      text-transform: uppercase;
      font-family: 'Futura';
    }
    h6, h3 {
      width: 100%;
    }
    p {
      text-align: center;
    }
  }
}
