div.menu {
  display: flex;
  flex-direction: column;
}
nav.menu {
  display: flex;
  justify-content: center;
  width: 100%; 
  gap: 5px;
  button {
    /* border: 1px solid; */
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: "Futura";
    font-weight: 600;
  }
  button.active {
    background-color: var(--color-menu);
  }
}
section.menu {
  /* border: 1px solid; */
  padding: 10px;
  background-color: var(--color-menu);
}



.section-menu {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  h3 {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  li.row {
    display: flex;
  }
  li.row {
    display: grid;
    grid-template-columns: minmax(30px, 400px) var(--width-col) var(--width-col);
    border-bottom: 1px solid #666666a6;
    
    h6, p {
      text-transform: uppercase;
      font-family: 'Futura';
    }
    h6, h3 {
      width: 100%;
    }
    p {
      text-align: center;
    }
  }
}
.borderr {
  /* border-top: 1px solid #666666a6; */
}
