section.home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  padding: 5px;

}

footer.home-page {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: auto;
 
  a.profile-link-component{
    color: $white-0;
    text-decoration: none;
    transition: background-color 0.3s;
    .icons {
      width: 30px;
      height: 30px;
      fill: $white-0;
    }
  }
  a.profile-link-component:hover {
    .icons{
      fill: $black-2;
    }
  }
}