header#layout {
  display: flex;
  justify-content: center;

}

main.menu-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  margin: 1rem 0;
}

.filter-accordion {
  background-color: $black-2 !important;
  color: $font-color !important;
}
#checkboxs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  span {
    font-family: 'Open Sans Variable';
    text-transform: uppercase;
    font-size: 0.85rem !important;
    font-weight: 350 !important;
  }
}

div.menu {
  display: flex;
  flex-direction: column;
}
nav.menu {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
  button {
    width: 100%;
    border-radius: 10px;
    padding: 8px;
    text-transform: uppercase;
    font-family: 'Josefin Sans Variable';
    font-weight: 600;
    background-color: $black-1;
    color: #5b5b5b;
  }
  button.active {
    background-color: $black-2;
    color: $font-color;
  }
}
section.menu {
  padding: 10px 0;
  // background-color: $black-2;
}

ul.section-menu {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 6px;

  .row {
    display: grid;
    grid-template-columns: minmax(30px, 400px) $width-col $width-col;

    h6,
    p {
      text-transform: uppercase;
      font-family: 'Futura';
    }
    h6,
    h3 {
      width: 100%;
    }
    p {
      text-align: center;
      text-wrap: pretty;
    }
  }
  .title-row {
    padding: 0 5px;
  }
}

.item-menu {
  border-radius: $border-s;
  box-shadow: 1px 1px 1px 0px #000000;
  background-color: $black-2;
  padding: 3px 5px;
}

#item-background {
  position: fixed;
  z-index: 9999;
  backdrop-filter: blur(1px);
  background-color: #000000d8;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  #item-card {
    width: 80%;
    max-width: $width;
    #buttons-container {
      display: flex;
      justify-content: flex-end;
      padding: 1rem;
    }
  }
  .card-item {
    background-color: $black-2;
    color: $font-color;
  }
}


