section.home-page {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding: 5px;
  flex-direction: column;
}
hr {
  border: 0.5px solid $white-2;
}
section.home-page.novedades-section {
  h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: $white-0;
    text-align: center;
  }
  div.novedades-container {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    gap: 10px;
    width: 100%;
    padding: 10px;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

footer.home-page {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: auto;
  a.profile-link-component {
    display: flex;
    align-items: center;
    color: $white-0;
    text-decoration: none;
    gap: 10px;
    .icons {
      width: 25px;
      height: 25px;
      fill: $white-0;
    }
  }
}
