nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;  
  gap: 1rem;
  margin-block: 1rem;
  div {
    display: flex;
    gap: 1rem;
  }
  button {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 5px 10px 2px !important;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Josefin Sans Variable', sans-serif;
    text-transform: uppercase;
    justify-content: center;
    background-color: var(--black-1);
    color: white;
  }
}


